body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-color: #000000;
  overflow-x: hidden;
}

.app-container {
  --sidebar-width: 300px;
  --all-border-radius: 10px;
  --all-padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar {
  position: fixed;
  padding: var(--all-padding);
  height: 100%;
  width: var(--sidebar-width);
  background-color: #121212;
  border: 3px solid #121212;
  border-radius: var(--all-border-radius);
}

.sidebar ul {
  padding: 0;
}

.sidebar li {
  list-style: none;
  color: #fff;
}

.page-content {
  margin-left: 360px;
  padding: var(--all-padding);
  background-color: #121212;
  border-radius: var(--all-border-radius);
}
